

<!-- Main content -->
<section class="content">
	<div class="row">
		<!-- left column -->
		<div class="col-md-10 col-md-offset-1">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Add a page type</h3>
				</div><!-- /.box-header -->

				<!-- form start -->
				<form role="form">
					<div class="box-body">
						<div class="form-group">
							<label for="page-name">Page Type Name</label>
							<input ng-model="type.name" type="text" class="form-control" id="page-name" placeholder="Page Name">
						</div>
						<div class="form-group">
							<label for="page-layout">Layout</label>
							<select ng-model="type.layout" class="form-control" ng-options="layout.slug as layout.filename for layout in pageLayouts">
								<option>Select a layout</option>
							</select>
						</div>
						<button ng-click="addContentArea()" class="btn btn-primary">Add a content area</button>
					</div><!-- /.box-body -->
					<div class="box-footer">
					</div>
				</form>
			</div>

			<div ng-repeat="area in contentAreas" class="box box-warning">
				<form role="form">
					<div class="box-body">
						<div class="form-group">
							<button ng-click="removeContentArea(area)" class="btn btn-danger btn-sm pull-right" style="margin-bottom: 20px">Delete</button>
						</div>
						<div class="form-group">
							<label for="content-area-name">Content Area Name</label>
							<input ng-model="area.name" type="text" class="form-control" id="content-area-name" placeholder="Content Area Name">
						</div>
						<div class="form-group">
							<label for="content-area-slug">Slug</label>
							<slug from="area.name" to="area.slug"></slug>
							<input ng-model="area.slug" type="text" class="form-control" id="content-area-slug" placeholder="content-area-slug" disabled />
					    </div>
						<div class="form-group">
							<label for="page-layout">Type</label>
							<select ng-model="area.type" class="form-control">
								<option>Input</option>
								<option>Textarea</option>
								<option>Wysiwyg</option>
								<option>Select</option>
							</select>
						</div>
					</div><!-- /.box-body -->
					<div class="box-footer">
					</div>
				</form>

		</div>
	</div>
</section>