<a href="/admin/pages/types/create" class="btn btn-primary pull-right">Add a type</a><br /><br />

<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Content Areas</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="type in types">
        <td><% type.name %></td>
        <td></td>
        <td>
            <button class="btn btn-warning">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </td>
    </tr>
    </tbody>
</table>