<!-- Main content -->
<section class="content">
	<div class="row">
        <h4 class="page-header">
            Create a page
            <small>Create a new content page</small>
        </h4>
		<!-- left column -->
		<div class="col-md-10">
			<!-- general form elements -->
			<div class="box box-primary">
				<!-- form start -->
				<form role="form">
					<div class="box-body">
                        <div class="btn-group pull-right" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-primary dropdown-toggle">
                                <% buttonText %> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="type in types" ng-click="selectType(type)"><a href="#"><% type.name %></a></li>
                            </ul>
                            <br /><br />
                        </div>
                        <div class="clearfix"></div>
						<div class="form-group">
							<label for="page-name">Page Name</label>
							<input ng-model="page.name" type="text" class="form-control" id="page-name" placeholder="Page Name">
						</div>
						<div class="form-group">
							<label for="page-uri">Page URI</label>
							<slug from="page.name" to="page.slug"></slug>
							<input ng-model="page.slug" type="text" class="form-control" id="page-uri" placeholder="page-uri" disabled>
						</div>
                        <span ng-show="page.typeSet">
                            <div class="form-group" ng-repeat="area in page.type.areas">
                                <label for="<% area.slug %>"><% area.name %></label>
                                <span ng-switch on="area.type">
                                    <textarea ng-model="area.body" class="form-control" ng-switch-when="text"></textarea>
                                    <input ng-model="area.body" class="form-control" ng-switch-when="input" />
                                    <div text-angular ng-model="area.body" ng-switch-when="wysiwyg"></div>
                                </span>
                            </div>
                        </span>
					</div><!-- /.box-body -->

					<div class="box-footer">
						<button ng-click="save()" type="submit" class="btn btn-primary pull-right">Save</button>
                        <div class="clearfix"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>