<!-- Main content -->
<section class="content">
    <div class="row">
        <h4 class="page-header">
            Edit a page
            <small>Edit a content page</small>
        </h4>
        <!-- left column -->
        <div class="col-md-10">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="page-name">Page Name</label>
                            <input ng-model="page.name" type="text" class="form-control" id="page-name" placeholder="Page Name">
                        </div>
                        <div class="form-group">
                            <label for="page-uri">Page URI</label>
                            <slug from="page.name" to="page.slug"></slug>
                            <input ng-model="page.slug" type="text" class="form-control" id="page-uri" placeholder="page-uri" disabled>
                        </div>
                        <div class="form-group" ng-repeat="content in page.content">
                            <label for="<% area.slug %>"><% content.area.name %></label>
                            <span ng-switch on="content.area.type">
                                <textarea ng-model="content.body" class="form-control" ng-switch-when="text"></textarea>
                                <input ng-model="content.body" class="form-control" ng-switch-when="input" />
                                <div text-angular ng-model="content.body" ng-switch-when="wysiwyg"></div>
                            </span>
                        </div>
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button ng-click="save()" type="submit" class="btn btn-primary pull-right">Save</button>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>