<style>
    .page-actions {
        display: none;
    }

    .page-list-item:hover .page-actions {
        display: block;
    }

    .page-list-item td {
        padding-top: 12px;
        width: 25%;
    }
</style>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Page Type</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="page in pages" class="page-list-item">
        <td><% page.name %></td>
        <td><% page.type.name %></td>
        <td><% page.status %></td>
        <td>
            <span class="page-actions pull-right">
                <button ng-click="edit(page)" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></button>
                <button ng-click="destroy(page)" class="btn btn-danger btn-sm">X</button>
            </span>
        </td>
    </tr>
    </tbody>
</table>